In [1]:
a=10
b=15

In [2]:
a+b

25

In [3]:
10+20

30

In [4]:
a-b

-5

In [5]:
a*b

150

In [6]:
a/b

0.6666666666666666

In [12]:
a**2

100

In [1]:
5//2 #float division # dont take the value after decimals

2

In [1]:
3//9

0

In [14]:
5%2 #modular operation # only take the remainder values

1

In [4]:
a=34
b=45
c=23
d=53

In [6]:
e=a+b+c+d
print("e = ",e)

e =  155

In [17]:
e%4 #remaining #remainder

3

In [18]:
e//4 #equally distributed for each other

38

In [21]:
e

155

In [22]:
8-3*2-1+1

2

In [25]:
8-3*2-(1+1)

0

In [26]:
a=10
b=30

In [27]:
a>b

False

In [28]:
b>a

True

In [29]:
a>=b

False

In [30]:
a<=b

True

In [31]:
a==b

False

In [32]:
a!=b # ! not equalls to sign

True

In [33]:
c=4
d=6

In [34]:
c=d #single (=)  is used for store the value .

In [35]:
c

6

In [36]:
a="rainy"
b="sunny"

In [37]:
a==b

False

In [40]:
#assignment operations 
a=10

In [42]:
a=a+10

In [43]:
a

30

In [45]:
a=a+10
a

50

In [46]:
a+=10
a

60

In [48]:
a*=3
a

540

In [50]:
#logical operations

In [51]:
a=220
b=130

In [62]:
a>b and a==b # in (and) operator its necessary to both the statement is true

False

In [56]:
a>b or a==b # if one of the statement is true the output is true

True

In [63]:
a>b and a!=b

True

In [64]:
not a>b #(not) this operator reverse the output for e.x - if ans is true and we use not operator it change the true to false

False

In [65]:
#identity operations

In [66]:
a

220

In [67]:
b

130

In [68]:
id(a)

140712483963520

In [69]:
id(b)

140712483960640

In [70]:
a=b
a

130

In [71]:
id(a) #if the value is equall their value is also same

140712483960640

In [72]:
a is b

True

In [73]:
a is not b

False

In [74]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [75]:
#membership operations

In [76]:
"a" in "aman"

True

In [77]:
10 in [19,10,34,1020]

True

In [78]:
1 not in[2,12,3,4,1]

False

In [82]:
#bitwise operations
& -and
| -or
~ =not

In [83]:
0 & 1

0

In [84]:
0 | 1

1

In [90]:
~10

-11

In [91]:
~0

-1

In [3]:
a=int(input("enter any no :"))

enter any no :56

In [7]:
a

34

In [99]:
#wap to compute bmi given we have to take the input from the user rergarding his weight and height
#bmi=w/h**2  height should be in meters

In [110]:
a=float(input("enter your weight :"))
b=float(input("enter youe height in meters :"))
bmi=a/b**2
round(bmi,2)

enter your weight :12
enter youe height in meters :1

12.0

#wap to compute the area of triangle , u have to take input from the user regarding the base and height of the triangle
ar=1/2*b*h

In [111]:
b=float(input("enter the base of triangle:"))
h=float(input("enter the height of the triangle :"))
area=1/2*b*h
area

enter the base of triangle:12
enter the height of the triangle :56

336.0

In [112]:
#computing area of circle
"""area """ #commas is also used for comments
v=5
d=3.14
f=d*v**2
f

78.5

#conditions 

if ,else,elif

In [114]:
toss=input("heads OR tails :")
if toss=="heads":
    print("india wins the toss")
    choice=input("bat or bowl")
    if choice=="bat":
        print("rahul will open")
    else:
        print("bumrah will bowl")
        
else:
    print("pak wins the toss")
    choice=input("bat or bowl")
    if choice=="bat":
        print("babar will open")
    else:
        print("shahen will bowl")

heads OR tails :heads
india wins the toss
bat or bowlbat
rahul will open

In [115]:
#wap to take 2 inputs from the users which is a,b and compare which is largest

In [4]:
a=input("enter any no :")
b=input("enter any no :")
if a>b:
    print(" a is the largest no :")
elif a==b:
    print("equall :")
elif b==a:
    print("equall: ")
else:
    print("b is the largest no :")

enter any no :45
enter any no :75
b is the largest no :

In [126]:
#wap to compare 3 variables and print which of them are smallest

In [134]:
a=input("enter your no :")
b=input("enter your no :")
c=input("enter your no :")
if a<b and a<c:
    print("a is the smallest no")
elif a>b and b<c:
    print("b is the smallest no :")
elif a==b==c:
    print(" All are equall")
else:
    print("c is the smallest no")

enter your no :65
enter your no :86
enter your no :858757
a is the smallest no