wap to check how many fruit in alst are starting with a, and we need to print that fruit only
fruit=["apple","banana","apricot","orange","avacados"]

In [2]:
fruit=["apple","banana","apricot","orange","avacados","kiwi","blueberry"]
for i in fruit:
    if "a" in i:
        print(i)

apple
banana
apricot
orange
avacados

In [20]:
#nested for loop

In [28]:
for i in range(1,3): 
    print(i)
    for j in ("a","b"):
        print(j)
        for k in range(1,4):
            print(k)

1
a
1
2
3
b
1
2
3
2
a
1
2
3
b
1
2
3

In [36]:
for i in range(2,21,2):
    print(i)
for j in range(3,31,3):
    print(j)
for k in range(4,41,4):
     print(k)
for l in range(5,51,5):
    print(l)
for m in range(6,61,6):
    print(m)
for n in range(7,71,7):
    print(n)
for o in range(8,81,8):
    print(o)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80

In [39]:
for i in range(2,9):
    print("table of = ",i)
    for j in range(1,11):   #change this statement for reverse chanhe here 
        print(i,"x",j,"=",i*j)
    print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx")

table of =  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
table of =  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
table of =  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
table of =  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
table of =  6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
table of =  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
table of =  8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [52]:
l=[["python"],["is"],["fun"]]
for i in l:
    for j in i:
        print(j,end = " ")

python is fun

lets suppose that i have no from 1,20 aND I NEED TO TELL WHICH no IS PRIME AND WHIcH no IS COMPOSTITE

In [7]:
for i in  range(2,21):
    c=0 #reason of c taking here is the value of c is zero and one only.... #counter of i is always zero
    for k in range(2,i+1):
        if i%k==0:
            c=c+1
    if c==1:
        print("the no is prime  ",i)
    else:
        print("the no is composite ",i)

the no is prime   2
the no is prime   3
the no is composite  4
the no is prime   5
the no is composite  6
the no is prime   7
the no is composite  8
the no is composite  9
the no is composite  10
the no is prime   11
the no is composite  12
the no is prime   13
the no is composite  14
the no is composite  15
the no is composite  16
the no is prime   17
the no is composite  18
the no is prime   19
the no is composite  20