In [3]:
#swap the no
a=10
b=20

In [14]:
b=20
a=10
c=0
c=a
a=b
b=c
print(a,b)

20 10

In [36]:
for i in range(1,10):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8 9

In [35]:
a=0
b=1
for i in range(1,11):
    c=a
    a=b
    b=a+c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [40]:
#wap to take input from the user regarding the no aand count the no of digit in it 
a=int(input("enter any no = "))
c=0
a=str(a)
for i in a:
    c=c+1
print(c)

enter any no = 8766
4

q1. planets=["mercury","venus","earth","mars","jupiter"]
print the planet whose length is greater than 5

q2. take a input n in int ,convert that to str ,then to float ,then to int and at last in str again

q3. given a list of no ,square the even no and cube the odd no list is [11,9,10,15,6,78]

In [168]:
planets=["mercury","venus","earth","mars","jupiter"]
for i in planets:
    if len(i)>5:
        print(i)

mercury
jupiter

In [93]:
a=[11,9,10,15,6,78]
for i in a:
    if i%2==0:
        print("its even\nand the square is = ",i*i)
    else:
        print("its odd \nand the cube root is = ",i**3)

its odd
and the cube root is =  1331
its odd
and the cube root is =  729
its even
and the square is =  100
its odd
and the cube root is =  3375
its even
and the square is =  36
its even
and the square is =  6084

In [3]:
#q2. take a input n in int ,convert that to str ,then to float ,then to int and at last in str again

a=int(input("enter any no = "))
print(a)

enter any no = 6
6

In [4]:
a=str(a)

In [5]:
a

'6'

In [6]:
a=float(str(a))
print(a)

6.0

In [7]:
a=int(float(str(a)))
print(a)

6