while loop #while means jab tk

In [1]:
i=0
while i<5:
    print("the value is = ",i)
    i=i+1

the value is =  0
the value is =  1
the value is =  2
the value is =  3
the value is =  4

In [3]:
i=1
while i<=10:
    i+=2
    print(i)

3
5
7
9
11

In [8]:
i=0
while i<=18:
    i=i+2
    print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
#takin user output for making table
n=int(input("enter any no = "))
i=1
while i<=10:
    print(n*i)
    i=i+1
else:    #this is only language in which we use else with while:
    print("done",i)

enter any no = 7
7
14
21
28
35
42
49
56
63
70
done 11

In [27]:
#wap to print even and odd no from 30 to 50 using while loop 
i=30
c,d=0,0
while i<=50:
    if i%2==0:
        print("its even = ",i)
        c=c+1
    else:
        print("its odd = ",i)
        d=d+1
    i=i+1
print("the total even no is =",c,"\nthe total odd no is =",d)

its even =  30
its odd =  31
its even =  32
its odd =  33
its even =  34
its odd =  35
its even =  36
its odd =  37
its even =  38
its odd =  39
its even =  40
its odd =  41
its even =  42
its odd =  43
its even =  44
its odd =  45
its even =  46
its odd =  47
its even =  48
its odd =  49
its even =  50
the total even no is = 11
the total odd no is = 10

In [1]:
#wap to find those no which are divisible by 7 and multiple of 5 between 1500 and 2700 (both included)
i=1500
c=0
while i<=2700:
    if i%7==0 and i%5==0:
        print(i)
        c+=1
    i=i+1
print("total sum is = ",c)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
total sum is =  35

In [36]:
#wap to get the fibonacci series btw o to 50
i=0
a=0
b=1
while i<10:
    c=a
    a=b
    b=a+c
    print(c)
    i=i+1

0
1
1
2
3
5
8
13
21
34

#wap to find no btw 100 to 400 where each digit of a no is an even no . the no obtained should be printed in a comma seprated sequence

In [26]:
lst=[]
d=0
for i in range(100,401):
    c=1
    for j in str(i):
        if ord(j)%2!=0:
            c=0
    if c==1:
        lst.append(str(i))
        d+=1    
print(",".join(lst))
print("total no is =",d)

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400
total no is = 26

In [7]:
for i in range(100,401):
    i=str(i)
    c=0
    for j in i:
        j=int(j)
        if j%2==0:
            c=c+1
    if c==3:
        print(i,"is even")

200 is even
202 is even
204 is even
206 is even
208 is even
220 is even
222 is even
224 is even
226 is even
228 is even
240 is even
242 is even
244 is even
246 is even
248 is even
260 is even
262 is even
264 is even
266 is even
268 is even
280 is even
282 is even
284 is even
286 is even
288 is even
400 is even