#jump statement 
1) break :- sudden stop 
2) continue :- if stop the specific comand and go forward
3)pass :- do nothing

In [2]:
for i in "madrid":
    if i=="r":
        break
        print("gdg")
    else:
        print(i,end="")

mad

In [3]:
for i in "madrid":
    if i=="r":
        continue
        print("gdg")
    else:
        print(i,end="")

madid

In [6]:
for i in "madrid":
    if i=="r":
        pass
        print("gdg",i)
    else:
        print(i,end="")

madgdg r
id

In [17]:
#wap to print the cube of no from 1 to 10 except 3 and 8 using while loop
i=1
while i<=10:
    if i==3 or i==8 :
        i+=1
        continue
    else:
        print("the cube is",i, "=",i**3)
        i+=1

the cube is 1 = 1
the cube is 2 = 8
the cube is 4 = 64
the cube is 5 = 125
the cube is 6 = 216
the cube is 7 = 343
the cube is 9 = 729
the cube is 10 = 1000

In [22]:
#wap to print " spiderman superman " to print this string without space
for i in  "spiderman superman ":
    if i ==" ":
        continue
    print(i,end="")

spidermansuperman

# infinite loop in while

while True: #T is always captial

In [31]:
while True:
    l=[10,11,13,14,21,15,21]
    for i in l:
        if i**3>8000:
            break #it doesnot skip 21 
        else:
            print(i**3)
    break

1000
1331
2197
2744

In [26]:
45**3

91125

In [32]:
while True:
    l=[10,11,13,14,21,15,21]
    for i in l:
        if i**3>8000:
            continue #its skip 21 and go for 15
        else:
            print(i**3)
    break

1000
1331
2197
2744
3375

In [49]:
c=0
while True :
    a=input("enter your username = ")
    b=input("enter password = ")
    if a=="username" and b=="1234":
        print("go a head ")
        break
    else:
        print("Try again")
        c=c+1
    if c==3:
        print("blocked can not give more chances")
        break

enter your username = dfdf
enter password = fdff
Try again
enter your username = dff
enter password = dff
Try again
enter your username = fdf
enter password = dff
Try again
blocked can not give more chances