In [ ]:
ischeck method():

In [2]:
s="abc"
s.isdigit()

False

In [3]:
s="abcs"
s.isalpha()

True

In [4]:
s.isalnum() #alnum means alohabet +numbers

True

In [5]:
s="abc 123"
s.isalnum() #space doesnot count

False

In [6]:
s.islower() #lower means lower case

True

In [7]:
s="AAHXGA"
s.islower()

False

In [8]:
s="AAHXGA"
s.isupper() #upper case

True

In [15]:
s="Aman The "
s.istitle()

True

In [13]:
s="aMan The"
s.istitle #only first character is capatial in every word ....

In [27]:
s=","
type(s)
s.join(["aman","shivani","neha"]) #iterable means list tuple

'aman,shivani,neha'

In [30]:
s=" aman kumar singh"
s.split(sep="m") #it made list

[' a', 'an ku', 'ar singh']

In [32]:
s=" aman kumar singh"
s.partition("m") #it made tuple

(' a', 'm', 'an kumar singh')

In [35]:
s.replace("m","p")

' apan kupar singh'

In [36]:
s="                     sdfdsfdff ff dfdsfdf                   "
s.strip() #basically it removes the space btw starting and ending point

'sdfdsfdff ff dfdsfdf'

In [37]:
s="                     sdfdsfdff ff dfdsfdf                   "
s.lstrip() #it remove onlt left space

'sdfdsfdff ff dfdsfdf                   '

In [38]:
s="                     sdfdsfdff ff dfdsfdf                   "
s.rstrip() #it remove only right space

'                     sdfdsfdff ff dfdsfdf'

In [39]:
s.swapcase() #it covert upper into lower and lower into upper

'                     SDFDSFDFF FF DFDSFDF                   '

In [42]:
s="the cat is wrong i am right "
s.rindex("i")

23

In [45]:
s.splitlines() #it convert into list

['the cat is wrong i am right ']

In [54]:
s="1022"
s.isdecimal()

True

In [85]:
a=input("enter the password= ")
u,l,d,sp=0,0,0,0
for i in a:
    if i.isupper():
        u+=1
    elif i.islower():
        l+=1
    elif i.isdigit():
        d+=1
    else:
        sp+=1
if u>0 and l>0 and d>0 and sp>0 and len(a)>=10:
    print(a," its valid  ")
else:
    print(a," its not valid \n please try again")

enter the password= ssfSDD#$$$1133
ssfSDD#$$$1133  its valid

In [91]:
a=input("enter the password = ").split()
for j in a:
    u,l,d,sp=0,0,0,0
    for i in j:
        if i.isupper():
            u+=1
        elif i.islower():
            l+=1
        elif i.isdigit():
            d+=1
        else:
            sp+=1
    if u>0 and l>0 and d>0 and sp>0 and len(j)>=10:
        print(j," its valid  ")
    else:
        print(j," its not valid \n please try again")

enter the password = dd!cscVVB12 amABEE#@@!@!3444
dd!cscVVB12  its valid
amABEE#@@!@!3444  its valid