In [ ]:
lists:

In [5]:
l=[1,2.2,"aman",True,[1,2,3],(12,34)] #we can store anything in list tuple , string and etc 
print(l)
type(l)

[1, 2.2, 'aman', True, [1, 2, 3], (12, 34)]

list

In [6]:
#list are mutible in nature (that can be change)
l=[1,2,3]
l[1]=12

In [7]:
l

[1, 12, 3]

In [9]:
#concatenation (means add something)
l=l+[34,35]
l

[1, 12, 3, 34, 35]

In [11]:
l=[1,33,55,123,789,"aman",["adda","nanjxa",45,True]]
print(l[-1]) #indexing
l[-1][0] #take value inside the selected items

['adda', 'nanjxa', 45, True]

'adda'

In [12]:
l[2:5] #slicing (yeah hmra ek particular chain mein ya pattern mein hota hain )

[55, 123, 789]

In [13]:
l[::-1] #reversing

[['adda', 'nanjxa', 45, True], 'aman', 789, 123, 55, 33, 1]

In [14]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l=[l1,l2,l3]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in l:
    for j in i:
        if j%2==0:
            print(j,"the square root is = ",j**2)
        else:
            print("")

2 the square root is =  4

4 the square root is =  16

6 the square root is =  36

8 the square root is =  64

In [22]:
#list methods (built in function ) - only appplicable in list

In [23]:
#append function
l=[]
for i in range(1,6):
    l.append(i)
l

[1, 2, 3, 4, 5]

In [24]:
l=[45,65]
for i in range(1,6):
    l.append(i)
l

[45, 65, 1, 2, 3, 4, 5]

In [25]:
#clear
l.clear() #used for empty the list
l

[]

In [26]:
l1=[2,3,4]
l=l1.copy()
l

[2, 3, 4]

In [27]:
l1=[2,3,4]
l=l1
l

[2, 3, 4]

In [28]:
l[1]=69
l

[2, 69, 4]

In [29]:
l1  #if i donot use copy l1 and l both the valuse change

[2, 69, 4]

In [31]:
 #count   (how many no in tghe list)
l=[2,123,4,1,2,3,4,2,12,2,3]
l.count(2)

4

In [32]:
#extend
l.extend("12") #it only add itreable (itreable means :- string list tuple and etc  )

In [33]:
l

[2, 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, '1', '2']

In [34]:
#index
l.index(4)

2

In [35]:
#insert
l.insert(1,"aman") #give values in any form

In [36]:
l

[2, 'aman', 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, '1', '2']

In [38]:
l.insert(12,56)
l

[2, 'aman', 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, 56, 56, '1', '2']

In [39]:
#pop :- removed the value
l.pop() # if i emplty this it automatically removed last one

'2'

In [40]:
l

[2, 'aman', 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, 56, 56, '1']

In [43]:
l.pop(12) #give index no

56

In [44]:
l

[2, 'aman', 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, '1']

In [45]:
#remove
l.remove("1") #direct give element no
l

[2, 'aman', 123, 4, 1, 2, 3, 4, 2, 12, 2, 3]

In [46]:
#reverse
l.reverse()
l

[3, 2, 12, 2, 4, 3, 2, 1, 4, 123, 'aman', 2]

In [47]:
#sort
l=[34,12,45,22,2,1,0,56,78,99]
l.sort()

In [48]:
l

[0, 1, 2, 12, 22, 34, 45, 56, 78, 99]

In [3]:
l=[34,12,45,22,2,1,0,56,78,99]
l.sort(reverse=True)
l

[99, 78, 56, 45, 34, 22, 12, 2, 1, 0]

In [ ]:
#party_attendees=["aman","molu","golu","bholu","ela","vayu","peter","hema"]
label the peope who are coming after half of the party guesta are "fashionably late " but we should not laabelt the very last guest the same

In [58]:
l=["aman","molu","golu","bholu","ela","vayu","peter","hema"]
for i in range(0,len(l)) :
    if i>len(l)/2 and i!=len(l)-1:
        print(l[i],"fashionably late")

vayu fashionably late
peter fashionably late

#you are analzying sports team , members of each team are stored ina list. The coach is in the first name in the list . The captain is the second name in the list, and other player are listed after that . thses lists are stored in another list , which starts with the best team and proceeds through the list to the worst team lasst . complete the function below to select the captain of the worst team.

In [5]:
team =[["ravi","kohli","abd villers","chahal"],["henry","ms dhoni","suresh","shardul"],["sourav","iyer","russel","narine","dindda"],["shahid","vijay","thakur","ravi"]]
team[1][1]

'ms dhoni'

In [18]:
def r(stop,start,step):
    while start<stop-1:
        s=start+step
        print(s)
        start=start+1

r(10,1,2)

3
4
5
6
7
8
9
10