In [1]:
r=["a","b","c"]
r.reverse()

In [2]:
r

['c', 'b', 'a']

In [17]:
#remove 0 ,4,5 th element
l=["orange","red","black","pink","yellow","blue"]
l.remove(l[0])

In [21]:
l
l.remove(l[3])
l

['red', 'black', 'pink']

In [35]:
l=["orange","red","black","pink","yellow","blue"]
l=list(enumerate(l))
for i,j in l:
    if i==0 or i==4 or i==5:
        l.pop(i)
l

[(1, 'red'), (2, 'black'), (3, 'pink'), (4, 'yellow')]

In [41]:
l=["orange","red","black","pink","yellow","blue"]
l[1:4]

['red', 'black', 'pink']

In [45]:
#right way 
l=["orange","red","black","pink","yellow","blue"]
l1=[]
l2=[]
for i in range(len(l)):
    if i==0 or i==4 or i==5:
        l1.append(i)
    else:
        l2.append(l[i])
l2

['red', 'black', 'pink']

#tuple :- 
1)immutiable in nature
2) data integrity (more secure data as compared to list)
3) () symbol
4)it also carry heterogenous data (means string, list and etc)

In [46]:
l=(1,2,3)+(33,44,5)
l

(1, 2, 3, 33, 44, 5)

In [49]:
t=1,23,3
type(t)

tuple

In [50]:
t

(1, 23, 3)

In [51]:
t[0]=12

TypeError: 'tuple' object does not support item assignment

In [52]:
t=(1,2,3,4,5,6,6,6,7,8,True,False)
t.count(1)

2

In [53]:
t.count(0)

1

In [54]:
t.index(6)

5

In [55]:
for i in t:
    print(i)

1
2
3
4
5
6
6
6
7
8
True
False

In [56]:
#set :-{} symbol
1) unordered collection of elements 
2) no duplicate value
3)no concept of indexing in set
4) doesnot support concatinations

In [58]:
s={1,2,3}
type(s)

set

In [59]:
s={}
type(s) #in python empty set means dict

dict

In [60]:
s=set() #so we have to denote this
type(s)

set

In [61]:
l=[1,1,1,2,3,3,3,4,5,6,5,6]
s=set(l)
s `#remove duplicate value automaticaly

{1, 2, 3, 4, 5, 6}

In [62]:
for i in s:
    print(i)

1
2
3
4
5
6

In [65]:
s={2,4,56,56,434,232,5,65,75,7554,342323,3}
for i in s:
    print(i)

65
2
7554
4
5
3
232
75
434
342323
56

In [67]:
s={1,2,3}+{4,5} #concatination doesnot support
s

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [68]:
a={1,2,3,4}
b={3,4,5,6}

In [69]:
a.intersection(b)

{3, 4}

In [70]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [71]:
a.intersection_update(b) #value of a is updated 
a

{3, 4}

In [73]:
a={1,2,3,4}
b={3,4,5,6}
a.difference(b) #the value not in b is print

{1, 2}

In [76]:
a={1,2,3,4}
b={3,4,5,6}
a.difference_update(b) #the value of a is updated

In [77]:
a

{1, 2}

In [78]:
a.discard(2) #it remove 
a

{1}

In [79]:
a.pop()

1

In [80]:
b.remove(3)

In [81]:
b

{4, 5, 6}

In [82]:
a.issubset(b) #a is rthe subset of b this statement is checking

True

In [83]:
b.issuperset(a) #b is superset this staement is checking

True

In [84]:
b.isdisjoint(a)

True

In [85]:
b.update([1,6,7,8,9,10]) #adding the value
b

{1, 4, 5, 6, 7, 8, 9, 10}

In [86]:
b.update("true")
b

{1, 10, 4, 5, 6, 7, 8, 9, 'e', 'r', 't', 'u'}