In [1]:
d={1:"aman",2:34,3:True}
d

{1: 'aman', 2: 34, 3: True}

In [2]:
d[1]

'aman'

In [3]:
type(d)

dict

In [4]:
d[1]="singh" #so its mutible in nature...
d

{1: 'singh', 2: 34, 3: True}

In [5]:
d[5]=54 #too addd the value 
d

{1: 'singh', 2: 34, 3: True, 5: 54}

In [6]:
d={23:[3,4,5],45:(56,78,90,"aman"),'a':{1,2,3}}

In [8]:
d[45][2:]

(90, 'aman')

In [9]:
d[45][3][1:3]

'ma'

In [10]:
#nested dictionaries

In [12]:
d={"key":{"nestedkey":{"subnestedkey":"value"}}}

In [15]:
d["key"]["nestedkey"]["subnestedkey"]

'value'

In [18]:
d["key"]["nestedkey"]["subnestedkey"][::2]

'vle'

In [20]:
#function of dict

In [22]:
d={1:11,2:22,3:33}

In [27]:
d=d.fromkeys([4,5,6],[44,55,66]) #new dict made  # if i have to change the keys and value will be same ...

In [28]:
d

{4: [44, 55, 66], 5: [44, 55, 66], 6: [44, 55, 66]}

In [29]:
d={1:11,2:22,3:33}
d.get(3) #give the value of no

33

In [30]:
d.keys() #all the key come

dict_keys([1, 2, 3])

In [31]:
d.values() #all the values come

dict_values([11, 22, 33])

In [32]:
d.items()

dict_items([(1, 11), (2, 22), (3, 33)])

In [33]:
d.pop(3) #used for remove #enter only key and by default the value is also removed

33

In [34]:
d

{1: 11, 2: 22}

In [37]:
d.popitem()  #it  remove last key and value automatically

(1, 11)

In [38]:
d

{}

In [40]:
d[1]="aman"
d[2]="singh"
d["wer"]="23"
d[1]=11 #it overwrite the value #any key doesnot have 2 value it simpliy just over write the value if we give key to value
d

{1: 11, 2: 'singh', 'wer': '23'}

In [41]:
d.setdefault(4,5600) #just to add new key with value or to over write the key value

5600

In [42]:
d

{1: 11, 2: 'singh', 'wer': '23', 4: 5600}

In [47]:
d={1:11,2:22,3:33}

In [48]:
d1={4:44,5:55,6:66,1:90,2:45}

In [49]:
d.update(d1) #d is updated wi th takeing values if d1
d

{1: 90, 2: 45, 3: 33, 4: 44, 5: 55, 6: 66}

In [51]:
for i in d: #it take keys not values
    print(i)

1
2
3
4
5
6

In [52]:
for i in d.keys():
    print(i)

1
2
3
4
5
6

In [55]:
for i in d.values(): #it take values output we use command for values
    print(i)

90
45
33
44
55
66

In [56]:
for i ,j in d.items():
    print(i,j)

1 90
2 45
3 33
4 44
5 55
6 66

#wap to d={"neha":33,"varun":55,"pooja":34,"golu":19,"ramesh":45}
if age of a person is greater than 44 he is old and it its 44 he is young

In [62]:
d={"neha":33,"varun":55,"pooja":34,"golu":19,"ramesh":45}
for i,j in d.items():
    if j>44:
        print("old = ",i,j)
    else:
        print("young = ",i,j)

young =  neha 33
old =  varun 55
young =  pooja 34
young =  golu 19
old =  ramesh 45

In [73]:
l=["orange","banana","apple","grapes","mango"]

In [77]:
d={}
for i in l:
    d[i[0].upper()]=i
d

{'O': 'orange', 'B': 'banana', 'A': 'apple', 'G': 'grapes', 'M': 'mango'}

In [78]:
c="it\'s ok"
len(c)

7

In [81]:
d="""hey"""
len(d)

3

In [92]:
s=input("enter = ")
if s.isdigit()and len(s)==6:
    print("right zipcode ",s)
else:
    print("wrong")

enter = @23442
wrong

In [7]:
l=["The Learn Python Challenge Casino ","They bought a car","Casinoville"]
l1=[]
for i in l:
    i=i.lower()
    l1.append(i)
    if i.find("casino")>0:
        print(l1.index(i))

0

In [18]:
#convert upper program to function
def f(word):
    l=["The Learn Python Challenge Casino ","They bought a car","Casinoville"]
    l1=[]
    for i in l:
        i=i.lower()
        l1.append(i)
        if i.find("casino")>0:
            print(l1.index(i))
f("casino")

0

In [29]:
doc_list=["The Learn Python Challenge Casino ","They bought a car and a casino","Casinoville"]
l=[]
l1=[]
l2=[]
for i in doc_list:
    i=i.lower()
    l.append(i)
    if i.find("casino")>0 :
        l1.append(l.index(i))
        #print(l1)
        if i.find("they")==0:
            l2.append(l.index(i))
            #print(l2)
d={}
keyword=["casino","they"]
for i in keyword :
    if keyword.index(i)==0:
        d[i]=l1
    else:
        d[i]=l2
d

{'casino': [0, 1], 'they': [1]}