3. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an
integral number between 1 and n (both included) and then the program should print the dictionary. Suppose
the input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49,
8: 64} Hints: In case of input data being supplied to the question, it should be assumed to be a console
input. Consider use dict()

In [1]:
x=int(input('Enter any number ='))
d={}
for i in range(1,x+1):
    d[i]=i*i

print(d)

Enter any number =11
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

4. Write a program which accepts a sequence of comma-separated numbers from console and generate a list
and a tuple which contains every number. Suppose the input is supplied to the program: 34, 67, 55, 33, 12,
98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98') Hints: In case of
input data being supplied to the question, it should be assumed to be a console input. tuple() method can
convert list to tuple

In [3]:
a= input("Enter the number :")
b= a.split(',')
c= tuple(b)
print(c)
print(b)

Enter the number :34, 67, 55, 33, 12, 98
('34', ' 67', ' 55', ' 33', ' 12', ' 98')
['34', ' 67', ' 55', ' 33', ' 12', ' 98']